@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  color: #17171f;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #ffff00;
  letter-spacing: 0.5px;
}

h3 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  color: #d50000;
  letter-spacing: 1px;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  color: #17171f;
  letter-spacing: 0.2px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: #fdfdff;
  letter-spacing: 1.5px;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;

}

.text-red {
  color: red !important;
}

.button-shadow {
  filter: drop-shadow(0px 4px 4px rgba(50, 50, 71, 0.08)) drop-shadow(0px 4px 8px rgba(50, 50, 71, 0.06));
}

.card-text-color {
  color: #383B43;
}

.background-product {
  background-color: #f2f2f2;
}

.background-card {
  background-color: #f5f5f5;
}

.background-category {
  background-color: #FFE5E5;
}

.bg-custom-academy {
  background: #FDFDFF
}

.center {
  text-align: -webkit-center;
}

a:hover {
  color: red;
  text-decoration: none;
}

.background-footer {
  background-color: #191919;
}

.custom-shadow-card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.border-button-custom {
  border: 1px solid #D50000;
  border-radius: 5px;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.carousel {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  overscroll-behavior: none;
}

.carousel * {
  box-sizing: border-box;
}

.carousel__track {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.carousel__viewport {
  overflow: hidden;
}

.carousel__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.carousel__item {
  min-height: 345px !important;
  width: 70% !important;
  background-color: #f2f2f2 !important;
  color: var(--vc-clr-white);
  border-radius: 8px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  /* Color */
  --vc-clr-primary: #000;
  --vc-clr-secondary: #090f207f;
  --vc-clr-white: #ffffff;

  /* Icon */
  --vc-icn-width: 1.2em;

  /* Navigation */
  --vc-nav-width: 35px;
  --vc-nav-height: 35px;
  --vc-nav-border-radius: 50px !important;
  --vc-nav-color: var(--vc-clr-primary);
  --vc-nav-color-hover: var(--vc-clr-secondary);
  --vc-nav-background: #FFE5E5 !important;

  /* Pagination */
  /* --vc-pgn-width: 12px;
  --vc-pgn-height: 4px;
  --vc-pgn-margin: 4px;
  --vc-pgn-border-radius: 0;
  --vc-pgn-background-color: var(--vc-clr-secondary);
  --vc-pgn-active-color: var(--vc-clr-primary); */
}

.carousel__icon {
  width: var(--vc-icn-width);
  height: var(--vc-icn-width);
  fill: #D50000 !important;
}

.carousel__slide {
  scroll-snap-stop: auto;
  flex-shrink: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Fix iOS scrolling #22 */
  transform: translateZ(0);
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  background: var(--vc-nav-background);
  border-radius: var(--vc-nav-border-radius);
  width: var(--vc-nav-width);
  height: var(--vc-nav-height);
  text-align: center;
  font-size: var(--vc-nav-height);
  padding: 0;
  color: var(--vc-nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 0;
  cursor: pointer;
  margin: 0 -11px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__prev:hover,
.carousel__next:hover {
  color: var(--vc-nav-color-hover);
}

.carousel__next--disabled,
.carousel__prev--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.carousel__prev {
  left: 0;
}

.carousel__next {
  right: 0;
}

.carousel--rtl .carousel__prev {
  left: auto;
  right: 0;
}

.carousel--rtl .carousel__next {
  right: auto;
  left: 0;
}